/* .container {
    width: 70%;
    margin: auto;
    text-align: center;
    display: inline;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
    width: auto;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  .player1 {
    position: relative;
    left: 300px;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-size: 5rem;
    width: 400px;
    margin: auto, 200px,auto, 100px;
  }
  .player2 {
    position: absolute;
    left: 20px;
    top: auto;
    font-size: 5rem;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-size: 5rem;

    
    margin: 50px , 2px , auto , 500px;
  }

  img {
    width: 80%;
  }
  
  footer {
    margin-top: 30%;
    background-color: #000033;
    color: yellow;
    height: 10rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
   */
  body{

  }
   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   .container{
     height: 80vh;
     width: 100%;
     display:flex;
     align-items: center;
     justify-content:center;
      /* margin: 0 auto; */
     
   }
   h1, h3{
     text-align: center;
   }
   .container .player1{
     /* position: relative;
     left: 200px;
     margin: 40px; */
    
     /* transform: translateX(15%); */
     position: relative;
     left: -250px;

   }
   .player1 .dice1{
     position: absolute;
     display: none;
     
   }
.dice1.active
  {
     display: block;
   }


   .player2{
     left: 100px;
     position: relative;

   }
   .player2 .dice2{
     position: absolute;
     display: none;
   }
   .dice2.active{
    display: block;
  }
  #clickBtn{
    
    padding: 20px;
   position: relative;
   left: 50%;
   bottom: 50%;
   
  
    
  }